{{#myProfile}}

<section class="padd-top-60">

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">

                <h3><span class="text-thin">I'm</span> MUTTS <span class="text-thin"> over my best friend!</span></h3>

            </div>

        </div>

        <br> <br> <br> <br>

        <div class="row words">

            <div class="col-xs-3" align="left">                

                <h5> A little about me:</h5> <br>

                <p> <b>First Name:</b> {{first_name}} </p>

                <p> <b>Last Name: </b>{{last_name}} </p>

                <p> <b>Email: </b>{{email}}</p>

                <p> <b>Address: </b>{{address}} </p>

                <p> <b>Zip Code: </b>{{zipcode}} </p>

            </div>

            <div class="col-xs-3" align="right"> 

                <img height ="150" src={{img_url}}>

            </div>

            <div class="col-xs-3" align="left">

                <h5>About my best friend:</h5> <br>

                <p> <b>Dog Name: </b>{{dog_name}} </p>

                <p> <b>Breed: </b>{{dog_breed}} </p>

                <p> <b>Gender: </b>{{dog_gender}} </p>

                <p> <b>Age:</b> {{dog_age}} </p>

                <p> <b>Personality:</b> {{dog_personality}} </p>

                <br>

            </div>

        </div>

    </div>

    <div class="clearfix"></div>

</section>

{{/myProfile}}